#mc_embed_signup {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.chimp-forms {
    width: 100%;
}

.chimp-forms input {
    width: 45%;
    height: 50px;
}

.chimp-forms button {
    height: 50px;
    background-color: yellow;
    color: black;
}